html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
.cursor-pointer{
  cursor: pointer !important;
}
a:hover{ 
  text-decoration: none;
}
.error{ 
  margin: 0;
  color: #cd5c5c;
}
.d-flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .w-md-50{
    width: 50% !important;
  }
}
.title{
  font-family: 'Bangers', sans-serif;
}
#navbarMain{
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s ease-in-out;
  z-index: 99;
}
main, .form-signup, .form-create, .profile{ 
  margin-top: 60px !important;
}
.nav-icons {
  width: 1.25rem;
}
.nav-btn a{
  text-decoration: none;
  margin-right: 1rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.nav-btn a:hover, .nav-btn button:hover{
  color: #ffa500 !important;
}
.nav-btn a:last-child{
  margin-right: 0;
}
.navbar-toggler:focus{
  outline: none;
}
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.jumbotron h1 {
  font-weight: 300;
}
.jumbotron .container {
  max-width: 40rem;
}
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
footer p {
  margin-bottom: 0.25rem;
}

/*Auth forms*/
.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 1rem;
  margin: auto;
}
.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 0.75rem;
  font-size: 1rem;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signup #registerEmail:focus, .form-signup #registerConfirmPassword:focus, .form-signup #loginEmail:focus{
  z-index: 100;
}
.form-signup #registerName, .form-signup #loginEmail{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signup #registerEmail, .form-signup #registerPassword{
  border-radius: 0;
  margin-bottom: -1px;
}
.form-signup #registerConfirmPassword, .form-signup #loginPassword{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 1rem;
}

.form-signup .toggleView{
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  margin: 0;
  padding: 12px;
  background-color: #ffffff;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
  z-index: 99;
}
.form-signup.login-form .toggleView{
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.form-signup .toggleView:hover{ 
  background-color: #efefef;
}
.form-signup .toggleView input{
  display: none;
}

/*Home Page*/
.album .card{
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.album .card:hover{ 
  box-shadow: 0 0 1px #ccc, 0 10px 20px #ccc;
  transform: translateY(-3px);
}

.album .card .card-body .card-text, .profile .card .card-body .card-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album .card .card-img-top, .profile .card .card-img-top{
  height: 12rem;
  object-fit: cover;
}
.album .no-data-text{
  font-size: 3em;
  text-transform: uppercase;
  color: #66666640;
  margin: 0;
}
.form-create .custom-file-label{
  color: #6c757d;
}
.form-create .custom-file-label.image-label{
  color: #2e3338;
  overflow: hidden;
}

#scroll-top{
  color: #343a40;
  right: 0.5em;
  bottom: 1em;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  z-index: 1000;
}

[data-tooltip] {
  position: relative;
  z-index: 10;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + 5px);
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 5px 15px;
  min-width: 50px;
  max-width: 300px;
  width: max-content;
  border-radius: 3px;
  font-size: 14px;
  /* background-color: rgba(59, 72, 80, 0.9); */
  background-color: #343a40;
  background-image: linear-gradient(30deg,
    rgba(59, 72, 80, 0.44),
    rgba(59, 68, 75, 0.44),
    rgba(60, 82, 88, 0.44));
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: '';
  border-style: solid;
  border-width: 5px 5px 0px 5px;
  border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
  transition-duration: 0s; /* If the mouse leaves the element, the transition effects for the tooltip arrow are "turned off" */
  transform-origin: top;   /* Orientation setting for the slide-down effect */
  transform: translate(-50% 20px) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.2s;
  transform: translate(-50%, 10px) scale(1);
}
/* Slide down effect only on mouseenter (NOT on mouseleave) */
[data-tooltip]:hover:after {
  transition-delay: 0.2s; /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translate(-50%, 5px) scaleY(1);
}
/*
  That's it.
*/


/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
  top: calc(100% + 5px);
  bottom: auto;
}

[data-tooltip-location="bottom"]:before {
  transform: translate(-50%, 5px) scale(0.5);
}
[data-tooltip-location="bottom"]:hover:before {
  transform: translate(-50%, 12x) scale(1);
}

[data-tooltip-location="bottom"]:after {
  border-width: 0px 5px 5px 5px;
  /* border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent; */
  border-color: transparent transparent #343a40 transparent;
  transform-origin: bottom;
}



/*
  If you want some adjustability
  here are some orientation settings you can use:
*/

/* LEFT */
/* Tooltip + arrow */
[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
  left: auto;
  right: calc(100% + 5px);
  bottom: 50%;
}

/* Tooltip */
[data-tooltip-location="left"]:before {
  transform: translate(-5px, 50%) scale(0.5);
}
[data-tooltip-location="left"]:hover:before {
  transform: translate(-5px, 50%) scale(1);
}

/* Arrow */
[data-tooltip-location="left"]:after {
  border-width: 5px 0px 5px 5px;
  border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
  transform-origin: left;
  transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="left"]:hover:after {
  transform: translateY(50%) scaleX(1);
}



/* RIGHT */
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
  left: calc(100% + 5px);
  bottom: 50%;
}

[data-tooltip-location="right"]:before {
  transform: translate(5px, 50%) scale(0.5);
}
[data-tooltip-location="right"]:hover:before {
  transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location="right"]:after {
  border-width: 5px 5px 5px 0px;
  border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
  transform-origin: right;
  transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="right"]:hover:after {
  transform: translateY(50%) scaleX(1);
}


.profile .user-section .user-section-block{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 650px;
  margin: auto;
}
.edit-profile .user-section .user-section-block{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 550px;
  margin: auto;
}
.profile .user-section .user-image,
.edit-profile .user-section .user-image{
  text-align: center;
  position: relative;
}
.profile .user-section .user-image > img,
.edit-profile .user-section .user-image > img{
  width: 175px;
  height: 175px;
  border-radius: 50%;
  box-shadow: 0 0 24px #ccc;
  filter: grayscale(100%);
}
.edit-profile .user-section .user-image .upload-icon{
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  right: 5px;
  z-index: 99;
  background-color: #cd5c5c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 24px #cccccc20;
  cursor: pointer;
}
.profile .user-section .user-details-block,
.edit-profile .user-section-block .user-details{
  margin-left: 3rem;
}
.profile .user-section .user-details-block .edit-profile-block{
  margin-top: 1rem;
}
.profile .user-section .user-details p,
.edit-profile .user-section-block .user-details p{
  text-align: start;
}
.profile .user-section .user-name,
.profile .stats-section .stats-num,
.edit-profile .user-section .user-name{
  font-size: 1.75rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}
.edit-profile .user-section .user-name{
  text-transform: lowercase;
}
.profile .user-section .user-bio,
.profile .stats-section .stats-type,
.edit-profile .user-section .user-email{
  color: #666;
  margin: 0;
  text-align: center;
}

.profile .posts-section .post-image{
  overflow: hidden;
  text-align: center;
  margin-bottom: 1.5rem;
}
.profile .posts-section .post-image img{
  border-radius: 0.5rem;
  width: 500px;
}
.btn-heart{ 
  padding: 0.1rem 0.5rem;
}
.btn-heart.btn-outline-danger{
  color: #dc3545;
}
.btn-heart.btn-outline-danger:hover, .btn-heart.btn-outline-info:hover{
  color: #fff;
}
.btn-heart.btn-danger{
  color: #fff;
}
.btn-heart.btn-danger:hover{
  color: #fff;
}

.view .card{
  max-width: 600px;
}
.view .post-header{
  display: flex;
  align-items: center;
  padding: 1rem; 
}
.view .post-header .user-image{
  margin-left: 1rem;
}
.view .post-header .user-image img{
  height: 3rem;
}
.view .post-header .post-details{
  flex: 1;
}
.view .post-header .post-details .post-name{
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}
.view .post-header .post-details .post-category{
  margin: 0;
}
.view .post-header .post-details .post-time{
  margin: 0;
}
.view .post-image img{
  height: 20rem;
  object-fit: contain;
}
.view .post-description{
  padding: 1rem;
}
.view .action-buttons{
  padding: 0 1rem 1rem 1rem;
}

.logout.modal .close{
  outline: none;
}
.logout.modal .modal-title{
  font-size: 1.25rem;
  font-weight: bold;
}
.logout.modal .modal-footer{
  justify-content: center;
}
.logout.modal .btn{
  color: #fff;
}