body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
.cursor-pointer{
  cursor: pointer !important;
}

@media (min-width: 768px) {
  .w-md-50{
    width: 50% !important;
  }
}
.title{
  font-family: 'Bangers', sans-serif;
}
#navbarMain{
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s ease-in-out;
  z-index: 99;
}
main, .form-signup, .form-create{ 
  margin-top: 60px !important;
}
.nav-icons {
  width: 1.25rem;
}
.nav-btn a{
  text-decoration: none;
  margin-right: 1rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.nav-btn a:hover, .nav-btn button:hover{
  color: orange !important;
}
.nav-btn a:last-child{
  margin-right: 0;
}
.navbar-toggler:focus{
  outline: none;
}
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.jumbotron h1 {
  font-weight: 300;
}
.jumbotron .container {
  max-width: 40rem;
}
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
footer p {
  margin-bottom: 0.25rem;
}

/*Auth forms*/
.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 1rem;
  margin: auto;
}
.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 0.75rem;
  font-size: 1rem;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signup #registerEmail:focus, .form-signup #registerConfirmPassword:focus, .form-signup #loginEmail:focus{
  z-index: 100;
}
.form-signup #registerName, .form-signup #loginEmail{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signup #registerEmail, .form-signup #registerPassword{
  border-radius: 0;
  margin-bottom: -1px;
}
.form-signup #registerConfirmPassword, .form-signup #loginPassword{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 1rem;
}
.form-signup .error, .form-create .error, .album .error{ 
  margin: 0;
  color: #cd5c5c;
}
.form-signup .toggleView{
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  margin: 0;
  padding: 12px;
  background-color: #ffffff;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
  z-index: 99;
}
.form-signup.login-form .toggleView{
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.form-signup .toggleView:hover{ 
  background-color: #efefef;
}
.form-signup .toggleView input{
  display: none;
}

/*Home Page*/
.album .card{
  transition: box-shadow 0.4s ease-in-out;
  cursor: pointer;
}
.album .card:hover{ 
  box-shadow: 0 0 1px #ccc, 0 10px 20px #ccc;
}

.album .card .card-body .card-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album .card .card-img-top{
  height: 12rem;
}

.form-create .custom-file-label{
  color: #6c757d;
}
.form-create .custom-file-label.image-label{
  color: #2e3338;
}

